/* navy blue or it looks like light gray to me:   color: #26323D; */
/* dark blue: #0A80FF; */
/* dark gray for bold text: #999; */

@media (min-width: 768px) {
  .text-lg-right {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .text-lg-right {
    font-size: 0.8em;
  }
  .container.main-container {
    width: 90%;
  }
}

a.external-link, a.external-link:hover, a.external-link:visited {
					  color: #26323d;
					}

a.org-name-link, a.org-name-link:hover, a.org-name-link:visited {
					  color: white;
					}
a.org-name-link,a.external-link {
  text-decoration: underline;
}

.navbar-fixed-top {
  position: relative;
  float: right;
  width: 100%;
  background-color: #0A80FF;
}

.app-contact {
  clear: both;
  min-height: 800px;
}

.form-section {
  font-size: 2.5em;
  position: relative;
}
.form-section .top-dropdown-chooser {
  font-size: 0.6em;
  cursor: pointer;
}

.container.main-container {
  z-index: 2;
}
.container.main-container .form-section:first-child {
  padding-top: 50px;
}

.form-section .top-dropdown-chooser {
  border-bottom: solid 1px #92D0FF;
  position: relative;
  color: white;
  padding: 5px 5px 5px 15px;
}
.form-section .top-dropdown-chooser.chosen {
  color: #0A80FF;
  background-color: white;
}

.top-dropdown-chooser .selection-arrow {
  float: right;
  line-height: 150%;
}

.table-label-1 {
  margin-top: 20px;  
  padding: 0 5px 20px 5px;
  color: white;
  border-radius: 5px;
  background-color: #3EA3FF;
  
}
.table-label-1 * {
  background-color: #3EA3FF;
}

.filter-set {
  margin-top: 35px;
}

.table-label-1 .filter-box {
  color: #92D0FF;
  padding: 5px;
  background-color: #0A80FF;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .table-label-1 .filter-box {
    font-size: 0.68em;
  }
}

.table-label-1 .filter-box.filter-unset {
  background-color: #0A80FF;
}
.table-label-1 .filter-box.filter-active {
  background-color: white;
}

.table-label-1 .selected-filter {
  background-color: white;
}

.org-result-box {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
}

.org-box {
  color: #26323D;
  font-size: 16px;
  position: relative;

  cursor: pointer;
}
.org-box .org-icon {
  padding-top: 20px;
}
.org-box.unrolled {
  margin-bottom: 0px;
}

.org-box .org-logo {
  font-size: 1.25em;
  color: black;
  min-height: 28px;
}

.org-box .lesson-attributes {
  padding: 20px 15px;
}

.attribute-label {
  color: #999;
  font-weight: bold;
}
.attribute-label.negative {
  background-color: #999;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.left-rounded {
  border-radius: 5px 0 0 5px;
}
.right-rounded {
  border-radius: 0 5px 5px 0;
}

.box-left {
  float: left;
}
.box-right {
  float: right;
}
.box-left.not-first{ 
    padding-left: 20px;
  }
}

.box-right {
  float: right;
}

.your-pathways {
  margin-bottom: -10px;
  color: white;
  background-color: #666;
  font-weight: bold;
  text-align: center;
  line-height: 400%;
}
.drop-down-details {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}
.drop-down-details.rolldown {
  transition: max-height 0.2s;
  max-height: 500px;
}

.course-modal {
  position: absolute;
  width: 75%;
  top: -50px;
  left: 12.5%;
  height: 400px;

  border-radius: 5px;
  border: solid 1px #999;
  background-color: #FFF;
  display: none;
  z-index: 10;
  vertical-align: middle;
}

.course-modal .description-box {
  margin-top: 10px;
}

.details-box {
  font-size: 0.65em;
  padding: 30px 0 10px;
  
  background-color: white;
}
.course-modal .modal-close {
  cursor: pointer;
}

.chessboard {
  position: relative;
}
.squares {
  font-size: 0.65em;
}

.chessboard:before {
  background: linear-gradient(-45deg, transparent 14px, #666 0), linear-gradient(45deg, transparent 14px, #666 0);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 20px 20px;
  content: " ";
  display: block;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
}

.lesson-square {
  padding: 20px 10px;
  min-height: 60px;
  
}
.lesson-square.even-square {
  background-color: white;
}
.lesson-square.odd-square {
  background-color: #EDF4F7;
}

.search-selection {
  background-color: white;
  position: absolute;
  left: 0px;
  top: 57px;
  width: 100%;
  z-index: 10;
  border-top: solid 1px #0A80FF;
  border-bottom: solid 1px #0A80FF;
}

.search-selection .top-filter-active {
  color: #0A80FF;
  cursor: pointer;
}
.search-selection .top-filter-unset {
  color: #26323D;
  cursor: text;
}

.search-selection .label-box {
  font-size: 0.3em;
  color: #26323D;
  padding-left: 9px;
}

@media (max-width: 768px) {
  .search-selection {
    top: 102%;
    left: 0;
  }
}

.search-selection .option-box {
  padding: 0px 10px 5px 15px;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}
.org-attribute-row {
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .org-attribute-row {
    margin-left: -45px;
    margin-bottom: 15px;
  }
  .details-box {
    padding-top: 5px;
  }
}
