.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.cancel-margins {
  margin-left: 0;
  margin-right: 0;
}

.small-font {
  font-size: 0.8em;
}

.bold-font {
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 10px;
}
