/* navy blue or it looks like light gray to me:   color: #26323D; */
/* dark blue: #0A80FF; */
/* dark gray for bold text: #999; */
/* light blue: 92D0FF */

.job-profile-list {
  z-index: 3;
  margin-top: 25px;
  background-color: #0A80FF;
}

.job-profile-list .title-box {
  font-size: 1.5em;
  color: #92D0FF;
  margin-bottom: 5px;  
}

.job-profile-list .description-box {
  color: white;
  padding-bottom: 20px;
}

.modal-main {
  width: 100%;
  display: none;
  z-index: 3;
  background: rgba(170, 170, 160, 0.6);
  position: absolute;
}

.modal-main .modal-container {
  border-radius: 5px;
  background-color: white;
  margin: 100px auto 0;
  width: 75%;
  height: 50%;
}
